.movie-card {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px whitesmoke;
  padding: 4px;
  max-width: 250px;
}

.movie-card a {
  text-decoration: none;
  cursor: pointer;
}
.movie-card__overview {
  color: gray;
}
.movie-card__popularity {
  font-weight: bold;
  color: lightgray;
}
